spring:
  application:
    name: api-gateway

  config:
    import: "configserver:"

  cloud:
    config:
      uri: http://localhost:8888

jwt:
  secret: "mySecretKeyForJWTTokenGenerationAndValidation12345678901234567890"